@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.custom-font{
  font-family:Georgia;
  font-size: 95%;
  top:10%;
}

body {
    padding: 100px 0;
}

img {
    width: 100%;
    vertical-align: middle;
  
}

.blog-item img {
  display: block;
}

.blog-item a {
    display: flex;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item .icon {
    width: 35%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-item .content {
    width: 65%;
}

.blog-item .content .title {
    font-size: 21px;
    text-transform: capitalize;
    color: #25aae1;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}



.blog-item .content .title .blog-date {
  font-size: 76%;
  margin-left: 2%;
  color: #333;
  font-family: 'Lato', sans-serif;
  /* top: 7%; */
  position: relative;
}

.blog-item .content .title .blog-date:before {
    content: '/';
    color: #2bb673;
    font-size: 25px;
    top: auto;
    position: relative;
    margin-right: 10px;
}

.blog-item .content .rounded {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-item .item-arrow {
    height: 20px;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 35px;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover > .item-arrow {
    /*padding-left: 40px;*/
    color: #25aae1;
    left: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rounded {
    width: 70px;
    height: 5px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #25aae1, #40e495);
    /* background: #2bb769; */
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.i{
  width: 22%;
  vertical-align: middle;
  margin-left: 40%;
}

.im {
  width: 54%;
  vertical-align: middle;
  margin-left: 22%;
}

.imag {
  width: 14%;
  vertical-align: middle;
  margin-left: 41%;
}

.custom-btn {
  width: 9%;
  height: -3%;
  color: black;
  border-radius: 5%;
  padding: 1% 0%;
  font-family: 'Lato', sans-serif;
  font-weight: 61%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin-top: 2%;
  margin-left: 80%;
  margin-bottom:2%;
}

/* 3 */
.btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

@media screen and (max-width: 768px){

    .blog-item .content {
        width: 100%;
        margin-top: 35px;
    }

    .blog-item .content .title {
        font-size: 18px;
    }

    .blog-item .item-arrow {
        margin: auto;
    }

    .blog-item .icon {
        width: 100%;
    }

    .blog-item .icon img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .blog-item {
        width: 92%;
        margin: auto;
    }

    .blog-item a {
        display: block;
        padding: 30px;
    }

}

.top-patch {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: 130%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
}

.page-content /*for vertical line*/
{
    position: relative;
    z-index: 1; /* Content is above the partitioning line */
    width: 100%; /* Adjust the width as needed */

}
.navbar {
    background-color: #333;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index:3;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin: 0 10px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: black;
  }
  
  .navbartoggle .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-toggle:hover{
    cursor: pointer;
  }
  
  /* ONE */
  
  #toggle.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #toggle.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #toggle.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
  
  .Contact-heading 
  {
      font-size: 30px; /* Change to your desired font size */    
      color: #333; /* Change to your desired text color */
      margin-top:-33px;
      margin-bottom: 40px; /* Add margin after the heading */
  }

  .contact-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  
  
  .contact-form form {
    margin: 20px auto;
    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:20px;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:130px;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }

  h1
{
  color:rgba(0, 0, 0, 0.592);  
  font-size: 24px;
  text-align:center;
  margin-bottom:0px;
  margin-top:20px;
}

p7
{
    font-family:tahoma;
    text-align:center;
    color: gray;
    margin-left:350px;
    font-size: 15px;
    margin-top:20px;
}

/* Style for the About section */
.about-content 
{
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Vertically center content in columns */
  margin: 30px; /* Add margin to create spacing between columns */
  margin-right:90px;
}

/* Style for the right column (description) */
.about-heading 
{
  font-size: 24px; /* Adjust the font size as needed */
  color: #333; /* Change to your desired text color */
}

.about-description {
  flex: 1%;
  padding: 8%;
  margin-left: 44%;
  margin-top: -44%;
}

.your-image {
  height: 12%;
  width: 12%;
  display: grid;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(99, 93, 93, 0.822);
}

div#carousel {
  perspective: 1296%;
  padding-top: -4%;
  font-size: 0;
  margin-bottom: 12rem;
  overflow: hidden;
  width: 29%;
  height: 104%;
  margin-left: 15%;
  margin-top: 2%;
  padding-bottom: -5%;
}

figure#spinner {
  transform-style: preserve-3d;
  height: 315vh;
  transform-origin: 50% 50% -500px;
  transition: 1s;
  cursor:pointer;
}


figure#spinner img {
  width: 16vw;
  max-width: 425px;
  position: absolute;
  left: 12%;
  transform-origin: 50% 50% -500px;
  outline: 1px solid transparent;
  height: 19%;
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}


figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }



div#carousel ~ span {
  color: black;
  margin: 16%;
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -30rem;
  border-bottom: none;
  line-height: 0;
  padding-right: 42%;
  cursor: pointer;
}


div#carousel .arrow:first-child {
  left: 0;
}

div#carousel .arrow:last-child {
  right: 0;
}


div#carousel .ss-icon {
  color: red;
}

h1
{
  text-align: center;
    margin-top: 2%;
    color: black;
    margin-bottom:2%;
}

/* span {
  position: absolute;
  left: 50%;
  transform: translateX(-52%);
  font-family: georgia;
  font-size: 105%;
} */
p {
  position: relative;
  left: 23%;
  /* transform: translateX(-15%); */
  font-family: georgia;
  font-size: 106%;
  margin: 0;
  padding: 10px;
  line-height: 1.5;
  /* right: -194%; */
  width: 55%;
  text-align: center;
}

p1 {
  position: relative;
  left: -4%;
  /* transform: translateX(-15%); */
  font-family: georgia;
  font-size: 106%;
  margin: 0;
  padding: 10px;
  line-height: 1.5;
  /* right: -194%; */
  width: 55%;
  text-align: center;
}
h2{
  text-align:center;
}







